body {
	background-color: white;
}

.body {
	font-family: "Cormorant Garamond";
	font-size: 1.25rem;
	line-height: 2.2rem;
	max-width: 600px;
	margin: auto;
	padding-top: 5%;
}

/* TOGGLE ANIMATION ON/OFF */
#toggleAnimation {
	display: none;
}

#toggleAnimation:checked~.parentBox .box {
	animation: none;
}

label {
	font-size: 1.25rem;
	padding: 1rem 2rem;
	background-color: black;
	color: white;
	cursor: pointer;
	text-align: center;

	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 10;
}

#toggleAnimation:checked+label::after {
	content: "Start Animation";
}

#toggleAnimation:not(:checked)+label::after {
	content: "Stop Animation";
}
  
/* FLEXBOX METHOD */
/* .parentBox {
width: 100vw;
height: 100vh;
display: flex;
flex-wrap: wrap;
z-index: -1;
position: absolute;
}

.box {
background-color: white;
height: 10vh;
flex: 1;
flex-shrink: 1;
flex-basis: 10vw;
gap: 0px;
row-gap: 0px;
column-gap: 0px;
} */

/* CSS GRID METHOD */
.parentBox {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	width: 100vw;
	max-height: 500%;
	max-height: 5500px;
	overflow: hidden;
	z-index: -1;
	position: absolute;
}	
.box {
	background-color: white;
	height: 100%;
	width: 100%;
	aspect-ratio: 1/1;
}

html {
	scroll-behavior: smooth;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
	color: white;
	padding-right: 3vh;
	padding-left: 3vh;
	padding-top: 2%;
	padding-bottom: 2%;
}
.crumb{
	padding: 0px 1%;
	
}

.crumb:hover{
background-color: white;
color: black;


}
/* CHANGE COLOR FROM BLACK TO WHITE */
@keyframes changeColor {
	0% {
		background-color: black;
	}

	100% {
		background-color: white;
	}
}

/* ROOT ANIMATION SHORTHAND */
:root {
	--animation-1s-delay: changeColor 2s ease-in-out 1s infinite alternate;
	--animation-2s-delay: changeColor 2s ease-in-out 2s infinite alternate;
	--animation-3s-delay: changeColor 2s ease-in-out 3s infinite alternate;

	/*            changeColor 2s       ease-in-out     3s    infinite        alternate; */
	/* animation: name        duration timing-function delay iteration-count direction fill-mode; */
}

/* FLEXBOX TOP LEFT */
.parentBox :nth-child(1) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(2) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(11) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(12) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(22) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(31) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

/* FLEXBOX TOP RIGHT */
.parentBox :nth-child(8) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(9) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(10) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(19) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(20) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(30) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

/* FLEXBOX MIDDLE LEFT */
.parentBox :nth-child(41) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(51) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(61) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(62) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

/* INTRODUCTION FLEXBOX */
.parentBox :nth-child(99) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(100) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(101) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(110) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(111) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(120) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(121) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(131) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(130) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(140) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(149) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(150) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(151) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

/* CONSEQUENCES FLEXBOX */

.parentBox :nth-child(171) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(182) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(191) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(190) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(192) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(201) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(219) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(220) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(221) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(231) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(230) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(241) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(250) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(251) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(260) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(261) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(270) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(271) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(280) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

/* MODERNISM FLEXBOX */

.parentBox :nth-child(281) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(290) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(299) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(300) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(301) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(310) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(311) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(320) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(331) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(341) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(351) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(352) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(360) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(361) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(369) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(370) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(380) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

/* AESTHETICS FLEXBOX */

.parentBox :nth-child(391) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(399) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(401) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(411) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(420) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(422) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(419) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(431) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(430) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(439) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(441) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(442) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(450) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(460) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(471) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(481) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(491) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(499) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(500) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(510) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(520) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

/* GLOBAL DESIGN FLEXBOX */

.parentBox :nth-child(540) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(550) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(551) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(552) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(560) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(570) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(580) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(591) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(600) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(601) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(610) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(611) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(622) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(620) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(619) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(631) {
	background-color: black;
	animation: var(--animation-3s-delay)
}

.parentBox :nth-child(640) {
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(650) {
	background-color: black;
	animation: var(--animation-2s-delay)
}

.parentBox :nth-child(660) {
	/* last div */
	background-color: black;
	animation: var(--animation-3s-delay)
}

/* NAVBARS */

.menu-container {

	height: 10vh;
	position: sticky;
	top: 0;
	margin-bottom: 1.5rem;
	margin-top: 3.5rem;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	font-family: "Pixelify Sans", serif;
	font-size: 2rem;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	flex-grow: 2;
}

.flex-grid {
	display: flex;
	justify-content: space-between;
	text-align: center;

}

/* NEWNAVBARS */


.menu-name,
.left-nav,
.right-nav {
	background-color: black;
	height: 10vh;
	width: fit-content;
	position: sticky;
	margin-bottom: 1.5rem;
	/* margin-top: 4rem; */
	z-index: 1000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Pixelify Sans", serif;
	font-size: 2rem;
	text-transform: uppercase;
	flex-grow: 2
}

.menu-name {
	display: flex;
	flex-grow: 2;
	align-items: center;
}

.left-nav,
.right-nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.nav-div {
	width: 100%;
	height: 100%;
}

.left-nav>div:nth-child(2),
.left-nav :nth-child(4),
.left-nav :nth-child(8) {
	background-color: white;
}

.right-nav :nth-child(2),
.right-nav :nth-child(6),
.right-nav :nth-child(8) {
	background-color: white;
}

/* .right-nav > div:nth-child(3), :nth-child(4), :nth-child(8){ */
/* background-color: white; */


/* HEADER AND PARAGRAPHS */

header {
	font-family: "salo-variable";
	font-variation-settings: "opsz" 1;
}


h1,
h2,
h3,
p {
	mix-blend-mode: difference;
	color: white;
}

h1 {
	font-size: 6rem;
	margin-bottom: 1.5rem;
	line-height: normal;
}

#design {
	font-size: 12rem;
	margin-bottom: -1.5rem;
}

#thinking {
	font-size: 11rem;
	padding-left: 9rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 3.6rem;
	margin-bottom: 1rem;
	line-height: normal;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.author {
	font-size: 2rem;
}

p {
	margin-bottom: 1.5rem;
	font-size: 1.25rem;
}

.article-title {
	font-size: 2rem;
	font-weight: bold;
}

blockquote {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
}

footer {
	margin: auto;
	max-width: 600px;
	display: flex;
	justify-content: space-between;
}

/* MEDIA QUERIES */

/* ALL RULES THAT APPLY WHEN SCREEN IS SMALLER THAN 1050 PX */
@media screen and (max-width: 1050px) {

	/* make all boxes white then target specific ones to be black */
	/* this is because we dont boxes to be overlapping with text as the screen gets smaller */
	/* prob a better way to do this, might revisit later */

	.parentBox :nth-child(n) {
		background-color: white;
		animation: none;
	}

	.parentBox :nth-child(1),
	.parentBox :nth-child(2),
	.parentBox :nth-child(8),
	.parentBox :nth-child(9),
	.parentBox :nth-child(10),
	.parentBox :nth-child(11),
	.parentBox :nth-child(19),
	.parentBox :nth-child(20),
	.parentBox :nth-child(30) {
		background-color: black;
	}

	label {
		display: none;
	}
	.parentBox {
		height: auto;
	}
}

/* WHEN SCREEN IS SMALLER THAN 600 PX */
@media screen and (max-width: 600px) {
	.nav{
		flex-direction: column;
	}
	.body {
		padding: 5%;
	}

	#design {
		font-size: 10rem;
	}

	#thinking {
		font-size: 9rem;
		padding-left: 7.5rem;
	}

	h2 {
		font-size: 3rem;
	}

	.author {
		font-size: 1.5rem;
	}

	h1,
	h2,
	h3,
	p {
		color: white;
	}

	footer {
		padding-left: 10%;
		padding-right: 10%;
		background-color: transparent;
	}
}

/* WHEN SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	#design {
		font-size: 9rem;
	}

	#thinking {
		font-size: 8rem;
		padding-left: 6.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.mobile-nav-bar {
		display: flex;
	}

	.desktop-nav-bar {
		display: none;
	}

	/* fix rag on mobile */
	p {
		line-height: 1.4;
	}
	
}

/* WHEN SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	.title {
		margin-top: 3rem;
	}

	#thinking {
		padding-left: 3.5rem;
	}

	h2 {
		font-size: 2.4rem;
	}
}

/* WHEN SCREEN IS SMALLER THAN 400 PX */
@media screen and (max-width: 400px) {
	#design {
		font-size: 10rem;
	}

	#thinking {
		font-size: 8rem;
		padding-left: 0rem;
	}

	h2 {
		font-size: 2rem;
	}
}

/* WHEN SCREEN IS SMALLER THAN 400 PX */
@media screen and (max-width: 350px) {

	#design,
	#thinking {
		font-size: 5rem;
	}

	#thinking {
		margin-top: 1rem;
	}
}



