body {
	background-color: white;
}

.parentBox {
width: 100vw;
height: 100vh;
display: flex;
flex-wrap: wrap;
z-index: -1;
position: absolute;
}

/* .parentBox:nth-child(n) {
	gap: 0px;
} */

.box {
background-color: white;
height: 10vh;
flex: 1;
flex-shrink: 1;
flex-basis: 10vw;
gap: 0px;
row-gap: 0px;
column-gap: 0px;
}

/* CHANGE COLOR FROM BLACK TO WHITE */
@keyframes changeColor {
	0% {background-color: black;}
	100% {background-color: white;}
}

/* ROOT ANIMATION SHORTHAND */
:root {
	--animation-1s-delay: changeColor 2s ease-in-out 1s infinite alternate;
	--animation-2s-delay: changeColor 2s ease-in-out 2s infinite alternate;
	--animation-3s-delay: changeColor 2s ease-in-out 3s infinite alternate;

	/*            changeColor 2s       ease-in-out     3s    infinite        alternate; */
	/* animation: name        duration timing-function delay iteration-count direction fill-mode; */
}

/* FLEXBOX TOP LEFT */
.parentBox :nth-child(1){
	background-color: black;
	animation: var(--animation-1s-delay)
}

.parentBox :nth-child(2){
	background-color: black;
	animation: var(--animation-2s-delay)

}
.parentBox :nth-child(11){
	background-color: black;
	animation: var(--animation-3s-delay)
}
.parentBox :nth-child(12){
	background-color: black;
	animation: changeColor 5s infinite;
	animation-delay: 5s;
}
.parentBox :nth-child(22){
	background-color: black;
	animation: changeColor 6s infinite;
	animation-delay: 6s;
}
.parentBox :nth-child(31){
	background-color: black;
	animation: changeColor 1s infinite;
	animation-delay: 1s;
}

/* FLEXBOX TOP RIGHT */
.parentBox :nth-child(8){
	background-color: black;
	animation: changeColor 1s infinite;
	animation-delay: 1s;
}

.parentBox :nth-child(9){
	background-color: black;
	animation: changeColor 2s infinite;
	animation-delay: 2s;
}
.parentBox :nth-child(10){
	background-color: black;
	animation: changeColor 3s infinite;
	animation-delay: 3s;
}
.parentBox :nth-child(19){
	background-color: black;
	animation: changeColor 4s infinite;
	animation-delay: 4s;
}
.parentBox :nth-child(20){
	background-color: black;
	animation: changeColor 5s infinite;
	animation-delay: 5s;
}
.parentBox :nth-child(30){
	background-color: black;
	animation: changeColor 6s infinite;
	animation-delay: 6s;
}

/* FLEXBOX MIDDLE LEFT */
.parentBox :nth-child(41){
	background-color: black;
	animation: changeColor 1s infinite;
	animation-delay: 1s;
}
.parentBox :nth-child(51){
	background-color: black;
	animation: changeColor 2s infinite;
	animation-delay: 2s;
}
.parentBox :nth-child(61){
	background-color: black;
	animation: changeColor 3s infinite;
	animation-delay: 3s;
}
.parentBox :nth-child(62){
	background-color: black;
	animation: changeColor 4s infinite;
	animation-delay: 4s;
}


/* .parentBox :nth-child(97){
	background-color: black;
} */
.parentBox :nth-child(99){
	background-color: black;
}
.parentBox :nth-child(100){
	background-color: black;
}
.parentBox :nth-child(101){
	background-color: black;
}
/* .parentBox :nth-child(108){
	background-color: black;
} */
.parentBox :nth-child(110){
	background-color: black;
}
.parentBox :nth-child(111){
	background-color: black;
}


.parentBox :nth-child(120){
	background-color: black;
}
.parentBox :nth-child(121){
	background-color: black;
}
.parentBox :nth-child(131){
	background-color: black;
}
.parentBox :nth-child(130){
	background-color: black;
}
.parentBox :nth-child(140){
	background-color: black;
}
.parentBox :nth-child(149){
	background-color: black;
}
.parentBox :nth-child(150){
	background-color: black;
}
.parentBox :nth-child(151){
	background-color: black;
}

/* FLEXBOX FOR SECOND ARTICLE */

/* .parentBox :nth-child(218){
	background-color: black;
} */
.parentBox :nth-child(219){
	background-color: black;
}
/* .parentBox :nth-child(227){
	background-color: black;
} */
.parentBox :nth-child(230){
	background-color: black;
}
.parentBox :nth-child(330){
	background-color: black;
}
.parentBox :nth-child(331){
	background-color: black;
}
.parentBox :nth-child(341){
	background-color: black;
}
.parentBox :nth-child(342){
	background-color: black;
}
.parentBox :nth-child(351){
	background-color: black;
}
.parentBox :nth-child(352){
	background-color: black;
}
.parentBox :nth-child(361){
	background-color: black;
}
.parentBox :nth-child(350){
	background-color: black;
}
.parentBox :nth-child(360){
	background-color: black;
}
.parentBox :nth-child(369){
	background-color: black;
}
.parentBox :nth-child(370){
	background-color: black;
}
/* .parentBox :nth-child(378){
	background-color: black;
} */
.parentBox :nth-child(380){
	background-color: black;
}

.body {
	font-family: "Cormorant Garamond";
	font-size: 1.25rem;
	line-height: 2.2rem;
	max-width: 600px;
	margin: auto;
	padding-top: 5%;
}

/* NAVBARS */

.sticky1, .sticky2 ,.sticky3,.sticky4,.sticky5{
	background-color: black;
	height: 10vh;
	position: sticky;
	top: 0;
	margin-bottom: 1.5rem;
	margin-top: 3.5rem;
	z-index: 1000;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Pixelify Sans", serif;
	font-size: 2rem;
	text-transform: uppercase;
}
.flex-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
	
}
/* NEWNAVBARS */
.newNav, .sideNav {
	background-color: black;
	height: 10vh;
	width: fit-content;
	position: sticky;
	top: 0;
	margin-bottom: 1.5rem;
	margin-top: 3.5rem;
	z-index: 1000;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Pixelify Sans", serif;
	font-size: 2rem;
	text-transform: uppercase;
	flex-grow: 2
}
.newFlex {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    text-align:center;
	flex-grow: 2;
	.newNav{
 display: flex;
 flex-grow: 2;

	}
}
/* Edit Side Nav Grids */
.sideNav {


	display: grid;

		grid-template-columns: 33.33%,33.33%,33.33%,;
		grid-template-rows:  33.33%,33.33%,33.33%,;
}


/* HEADER AND PARAGRAPHS */

header {
	font-family: "salo-variable";
	font-variation-settings: "opsz" 1;
}


h1, h2, h3, p {
	mix-blend-mode: difference;
	color: white;
}

h1 {
	font-size: 6rem;
	margin-bottom: 1.5rem;
	line-height: normal;
}

#design {
	font-size: 12rem;
	margin-bottom: -1.5rem;
}
#thinking {
	font-size: 11rem;
	padding-left: 9rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 3.6rem;
	margin-bottom: 1rem;
	line-height: normal;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.author {
	font-size: 2rem;
}

p {
	margin-bottom: 1.5rem;
	font-size: 1.25rem;
}

.article-title {
	font-size: 2rem;
	font-weight: bold;
}

blockquote {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

footer {
	margin: auto;
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

/* MEDIA QUERIES */

/* ALL RULES THAT APPLY WHEN SCREEN IS SMALLER THAN 1050 PX */
@media screen and (max-width: 1050px) {
	.parentBox :nth-child(n) {
		background-color: white;
		animation: none;
	}
	.parentBox :nth-child(1){
		background-color: black;
	}
	.parentBox :nth-child(2){
		background-color: black;
	}
	.parentBox :nth-child(11){
		background-color: black;
	}
	.parentBox :nth-child(8){
		background-color: black;
	}
	.parentBox :nth-child(9){
		background-color: black;
	}
	.parentBox :nth-child(10){
		background-color: black;
	}
	.parentBox :nth-child(19){
		background-color: black;
	}
	.parentBox :nth-child(20){
		background-color: black;
	}
	.parentBox :nth-child(21){
		background-color: black;
	}
	.parentBox :nth-child(30){
		background-color: black;
	}
	.parentBox :nth-child(31){
		background-color: black;
	}
}

/* WHEN SCREEN IS SMALLER THAN 600 PX */
@media screen and (max-width: 600px) {
	.body {
		padding: 5%;
	}
	#design {
		font-size: 10rem;
	}
	#thinking {
		font-size: 9rem;
		padding-left: 7.5rem;
	}
	h2 {
		font-size: 3rem;
	}
	.author {
		font-size: 1.5rem;
	}
	h1, h2, h3, p {
		color: white;
	}
	footer {
		padding-left: 10%;
		padding-right: 10%;
		background-color: transparent;
	}
}

/* WHEN SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	#design {
		font-size: 9rem;
	}
	#thinking {
		font-size: 8rem;
		padding-left: 6.5rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.mobile-nav-bar {
		display: flex;
	}
	.desktop-nav-bar {
		display: none;
	}
	/* fix rag on mobile */
	p {
		line-height: 1.4;
	}
	
}

/* WHEN SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	.title {
		margin-top: 3rem;
	}
	#thinking {
		padding-left: 3.5rem;
	}
	h2 {
		font-size: 2.4rem;
	}
}

/* WHEN SCREEN IS SMALLER THAN 400 PX */
@media screen and (max-width: 400px) {
	#design {
		font-size: 10rem;
	}
	#thinking {
		font-size: 8rem;
		padding-left: 0rem;
	}
	h2 {
		font-size: 2rem;
	}
}

/* WHEN SCREEN IS SMALLER THAN 400 PX */
@media screen and (max-width: 350px) {
	#design, #thinking {
		font-size: 5rem;
	}
	#thinking {
		margin-top: 1rem;
	}
}



